/* 
~ COPYRIGHT BY WAQAS BABAR ~
~ MEMBER OF KING BOT TEAM ~
*/

@import url(http://fonts.googleapis.com/css?family=Courgette);

* {
    margin: 0;
    padding: 0;
}

html {
background: url(king.jpg) no-repeat center center fixed ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.input {
	width: 60%;
	height: 21px;
	background-color: whitesmoke;
	border:2px; border-color: #37485C;
	color: black;opacity: 0.6;filter:alpha(opacity=60);
}

.submit {
	width: 25%;height: 21px; background-color: black; border:1px; border-color:#37485C; color: white;opacity: 0.6;filter:alpha(opacity=60);
}

a {
	text-decoration: none;
	color: #37485C;
}

a:hover { 
	color: darkgrey }

.button {
    background-color:#930000;
    border: none;
    border-radius: 30px;
    color: white;
    width: 140px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: "Courgette";
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;;

}

.button:hover {
    background-color: #420101;
    color: #fff;
    border: 1px solid #000000;
}

.css img{
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
margin: 0 10px 5px 0;
}

.css img:hover{
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
box-shadow:0px 0px 30px gray;
-webkit-box-shadow:0px 0px 30px gray;
-moz-box-shadow:0px 0px 30px gray;
opacity: 1;

/* This CSS rule is applied to all img elements directly inside div elements which are
   directly inside the snowContainer div. In other words, it matches the 'img' elements
   inside the snowDivs which are created in the createAsnow() function.
*/
#snowContainer > div > img {
     position: absolute;
     width: auto;
     height: auto;

    /* We use the following properties to adjust the clockwiseSpin or counterclockwiseSpinAndFlip
       animations on each snow.
       The createAsnow function in the snow.js file determines whether a snow has the 
       clockwiseSpin or counterclockwiseSpinAndFlip animation.
    */
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: alternate;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-transform-origin: 50% -100%;
}


/* Hides a snow towards the very end of the animation */
@-webkit-keyframes fade
{
    /* Show a snow while into or below 95 percent of the animation and hide it, otherwise */
    0%   { opacity: 1; }
    95%  { opacity: 1; }
    100% { opacity: 0; }
}


/* Makes a snow fall from -300 to 600 pixels in the y-axis */
@-webkit-keyframes drop
{
    /* Move a snow to -300 pixels in the y-axis at the start of the animation */
    0%   { -webkit-transform: translate(0px, -50px); }
    /* Move a snow to 600 pixels in the y-axis at the end of the animation */
    100% { -webkit-transform: translate(0px, 650px); }
}

/* Rotates a snow from -50 to 50 degrees in 2D space */
@-webkit-keyframes clockwiseSpin
{
    /* Rotate a snow by -50 degrees in 2D space at the start of the animation */
    0%   { -webkit-transform: rotate(-50deg); }
    /*  Rotate a snow by 50 degrees in 2D space at the end of the animation */
    100% { -webkit-transform: rotate(50deg); }
}


/* Flips a snow and rotates it from 50 to -50 degrees in 2D space */
@-webkit-keyframes counterclockwiseSpinAndFlip 
{
    /* Flip a snow and rotate it by 50 degrees in 2D space at the start of the animation */
    0%   { -webkit-transform: scale(-1, 1) rotate(50deg); }
    /* Flip a snow and rotate it by -50 degrees in 2D space at the end of the animation */
    100% { -webkit-transform: scale(-1, 1) rotate(-50deg); }
}